<section class="container-sm mt-5">
    <h1>Medical Terminology</h1>
    <div class="btn-group me-2">
        <a href="/add" class="btn btn-sm btn-outline-primary">+ Add Term</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Term</th>
                <th scope="col">Definition</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody id="">
            <% for( let index=0; index < medicalData.length; index++ ) { %>
                <tr>
                    <td>
                        <%= medicalData[index]._id %>
                    </td>
                    <td>
                        <%= medicalData[index].term %>
                    </td>
                    <td>
                        <%= medicalData[index].definition %>
                    </td>
                    <td>
                        <%= medicalData[index].category %>
                    </td>
                    <td>
                        <a href="/view/<%= medicalData[index]._id %>" type="button" class="btn btn-primary btn-small">
                            <i class="bi bi-eye"></i>
                        </a>

                        <a href="/edit/<%= medicalData[index]._id %>"><i class="bi bi-pen"></i></a>

                        <form action="/edit/<%= medicalData[index]._id %>?_method=DELETE" method="POST"
                            class="position-relative">
                            <button type="submit" class="btn btn-danger btn-small">
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</section>